*{
    margin: 0;
    padding: 0;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navber{
  width: 85%;
  display: flex;
  margin: 0 120px;
  padding: 18px 0;
  justify-content: space-between;
  align-items: center;
}

.head-section{
  display: flex;  
}

.head-section div{
 margin-left: 32px;
 font-size: 16px;
 font-weight: 500;
 color: black;
}

.btn{

  padding: 12px 16px;
  background-color:#30B868 ;
  color: white;
  border: 0;
  border-radius:4px ;
  font-size: 16px;
  font-weight: 600 ;
}