*{
    margin: 0;
    padding: 0;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navber{
  width: 85%;
  display: flex;
  margin: 0 120px;
  padding: 18px 0;
  justify-content: space-between;
  align-items: center;
}

.head-section{
  display: flex;  
}

.head-section div{
 margin-left: 32px;
 font-size: 16px;
 font-weight: 500;
 color: black;
}

.btn{

  padding: 12px 16px;
  background-color:#469165 ;
  color: white;
  border: 0;
  border-radius:4px ;
  font-size: 16px;
  font-weight: 600 ;
}

.header-container{
  background: url(../assets/hero-bg.png);
}

.header-caption{
  width: 85%;
  margin: 0 auto;
  text-align: center;
  padding: 116px 0 180px;
}

.early-access-btn{
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
  border: 0;
  border-radius: 1000px;
  color: #469165;
  margin-bottom: 16px ;
  align-items: center;
  cursor: pointer;
}

/* .early-access-btn:hover{
  color: white;
  background-color: #469165;

} */

#upper-line{
  color: white;
  font-size: 72px;
  font-weight: bold;
}

#lower-line{
   color:#469165 ;
  font-size: 72px;
  font-weight: bold;

}

.header-caption p{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  margin-top: 18px;
  margin-bottom: 32px;
}
.header-btn{
  align-items: center;
}
.second-btn{
  padding: 14px 16px ;
  border-radius:4px ;
  font-size: 16px;
  font-weight: 600 ;
  background-color:#469165 ;
  border: 0;
  color: white; 
  margin-right: 10px;
  cursor: pointer;

   
}

.second-btn img{
  padding-left: 10px;
}



.third-btn{
   padding: 16px 16px ;
  border-radius:4px ;
  font-size: 16px;
  font-weight: 600 ;
  background-color:transparent ;
  border: 1px white solid;
  color: white; 
  cursor: pointer;
}

.card-section{
 background-color: #fbfbfb;
}
.card-deco{
 text-align: center;
 margin: 0 auto;

}

.card-section h2{
  
  font-size: 48px;
  font-weight: bold;
  padding-top: 100px;
  margin-bottom: 16px;
}
.card-section p{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
  color:#627382 ;
  margin-bottom: 44px;
}
.card-container{
  width: 85%;
  display: flex;
  margin: 0 120px;
  gap:24px;
}

.card{
  background-color: white;
  padding: 0 24px;
  border-top-left-radius:8px ;
   border-top-right-radius:8px ;
}
.card img{
  margin: 70px auto 16px;
  padding: 14px;
  border: 0;
  border-radius: 1000px;
  background-color: #F95555;
}

.card h4{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.card p{
  margin-bottom: 21px;
   font-size: 16px;
  font-weight: 400;
  color:#627382 ;
}

.solution-container{
  display: flex;
  align-items: center;
  margin: 120px;
  justify-content: space-between;
}

.solution-deco{
  max-width: 700px;
  margin-left: 60px;
}
#mini-title{
   font-size: 16px;
  font-weight: 500;
  color: #469165;
}

.solution-deco h2{
  
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}

.solution-deco p{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.solution-bio{
   margin-bottom: 40px;
   font-size: 16px;
  font-weight: 400;
  color:#627382 ;
}

.check-circle{
  display: flex;
  gap:6px;
}

