*{
    margin: 0;
    padding: 0;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navber{
  width: 85%;
  display: flex;
  margin: 0 120px;
  padding: 18px 0;
  justify-content: space-between;
  align-items: center;
}

.head-section{
  display: flex;  
}

.head-section div{
 margin-left: 32px;
 font-size: 16px;
 font-weight: 500;
 color: black;
}

.btn{

  padding: 12px 16px;
  background-color:#469165 ;
  color: white;
  border: 0;
  border-radius:4px ;
  font-size: 16px;
  font-weight: 600 ;
}

.header-container{
  background: url(../assets/hero-bg.png);
}

.header-caption{
  width: 85%;
  margin: 0 auto;
  text-align: center;
  padding: 116px 0 180px;
}

.early-access-btn{
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
  border: 0;
  border-radius: 1000px;
  color: #469165;
  margin-bottom: 16px ;
  align-items: center;
  cursor: pointer;
}

/* .early-access-btn:hover{
  color: white;
  background-color: #469165;

} */

#upper-line{
  color: white;
  font-size: 72px;
  font-weight: bold;
}

#lower-line{
   color:#469165 ;
  font-size: 72px;
  font-weight: bold;

}

.header-caption p{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  margin-top: 18px;
  margin-bottom:32px ;
}
.second-btn{
  padding: 16px 16.5px ;
  border-radius:4px ;
  font-size: 16px;
  font-weight: 600 ;
  background-color:#469165 ;
  border: 0;
  color: white; 
  margin-right: 10px;
  cursor: pointer;
 
}

.second-btn img {
  
}

.third-btn{
   padding: 16px 16.5px ;
  border-radius:4px ;
  font-size: 16px;
  font-weight: 600 ;
  background-color:transparent ;
  border: 1px white solid;
  color: white; 
  cursor: pointer;
}
